clientes/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" />
  <xs:element name="PesquisaCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaClienteResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaAgencia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaAgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaAgenciaResult" nillable="true" type="q2:ArrayOfAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaConta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaContaResult" nillable="true" type="q3:ArrayOfConta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q4:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaPorNumeroConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroConta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaPorNumeroContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaContaPorNumeroContaResult" nillable="true" type="q5:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="emprestimo" nillable="true" type="q6:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>