clientes/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PesquisaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaAgencia_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaAgencia" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaAgencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaAgenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaConta_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaConta" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SalvarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarConta" />
  </wsdl:message>
  <wsdl:message name="IService1_SalvarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaContaPorNumeroConta_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaContaPorNumeroConta" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaContaPorNumeroConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaContaPorNumeroContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarConta_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarConta" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverConta_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverConta" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoverConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SalvarEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService1_SalvarEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarEmprestimoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaEmprestimoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaEmprestimoPorNumeroConta_InputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaEmprestimoPorNumeroConta" />
  </wsdl:message>
  <wsdl:message name="IService1_PesquisaEmprestimoPorNumeroConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PesquisaEmprestimoPorNumeroContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarEmprestimo" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarEmprestimoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PesquisaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaCliente" message="tns:IService1_PesquisaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaClienteResponse" message="tns:IService1_PesquisaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaAgencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaAgencia" message="tns:IService1_PesquisaAgencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaAgenciaResponse" message="tns:IService1_PesquisaAgencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaConta" message="tns:IService1_PesquisaConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaContaResponse" message="tns:IService1_PesquisaConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SalvarConta" message="tns:IService1_SalvarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SalvarContaResponse" message="tns:IService1_SalvarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaContaPorNumeroConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaContaPorNumeroConta" message="tns:IService1_PesquisaContaPorNumeroConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaContaPorNumeroContaResponse" message="tns:IService1_PesquisaContaPorNumeroConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarConta" message="tns:IService1_AlterarConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarContaResponse" message="tns:IService1_AlterarConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoverConta" message="tns:IService1_RemoverConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoverContaResponse" message="tns:IService1_RemoverConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SalvarEmprestimo" message="tns:IService1_SalvarEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SalvarEmprestimoResponse" message="tns:IService1_SalvarEmprestimo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaEmprestimo" message="tns:IService1_PesquisaEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaEmprestimoResponse" message="tns:IService1_PesquisaEmprestimo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PesquisaEmprestimoPorNumeroConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PesquisaEmprestimoPorNumeroConta" message="tns:IService1_PesquisaEmprestimoPorNumeroConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PesquisaEmprestimoPorNumeroContaResponse" message="tns:IService1_PesquisaEmprestimoPorNumeroConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarEmprestimo" message="tns:IService1_AlterarEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarEmprestimoResponse" message="tns:IService1_AlterarEmprestimo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PesquisaCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaAgencia">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaAgencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaConta">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarConta">
      <soap:operation soapAction="http://tempuri.org/IService1/SalvarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaContaPorNumeroConta">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaContaPorNumeroConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarConta">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverConta">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoverConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService1/SalvarEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PesquisaEmprestimoPorNumeroConta">
      <soap:operation soapAction="http://tempuri.org/IService1/PesquisaEmprestimoPorNumeroConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarEmprestimo">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61577/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>