clientes/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.basica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
      <xs:element name="IdCliente" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Endereco">
    <xs:sequence>
      <xs:element name="Bairro" nillable="true" type="xs:string" />
      <xs:element name="Cep" nillable="true" type="xs:string" />
      <xs:element name="Cidade" nillable="true" type="xs:string" />
      <xs:element name="Complemento" nillable="true" type="xs:string" />
      <xs:element name="IdEndereco" type="xs:int" />
      <xs:element name="Numero" nillable="true" type="xs:string" />
      <xs:element name="Rua" nillable="true" type="xs:string" />
      <xs:element name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
  <xs:complexType name="ArrayOfAgencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agencia" nillable="true" type="tns:Agencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgencia" nillable="true" type="tns:ArrayOfAgencia" />
  <xs:complexType name="Agencia">
    <xs:sequence>
      <xs:element name="Endereco" nillable="true" type="tns:Endereco" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="NumeroAgencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agencia" nillable="true" type="tns:Agencia" />
  <xs:complexType name="ArrayOfConta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Conta" nillable="true" type="tns:Conta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConta" nillable="true" type="tns:ArrayOfConta" />
  <xs:complexType name="Conta">
    <xs:sequence>
      <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element name="DataCriacao" type="xs:dateTime" />
      <xs:element name="NumeroConta" type="xs:int" />
      <xs:element name="Numero_agencia" nillable="true" type="tns:Agencia" />
      <xs:element name="Saldo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conta" nillable="true" type="tns:Conta" />
</xs:schema>