clientes/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" />
  <xs:element name="PesquisaCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaClienteResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaAgencia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaAgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaAgenciaResult" nillable="true" type="q2:ArrayOfAgencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaConta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaContaResult" nillable="true" type="q3:ArrayOfConta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q4:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaPorNumeroConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroConta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaContaPorNumeroContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaContaPorNumeroContaResult" nillable="true" type="q5:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q6:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q7:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverContaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SacarDinheiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q8:Conta" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="movimentacao" nillable="true" type="q9:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacarDinheiroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositarDinheiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="conta" nillable="true" type="q10:Conta" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="movimentacao" nillable="true" type="q11:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositarDinheiroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="emprestimo" nillable="true" type="q12:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaEmprestimo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaEmprestimoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaEmprestimoResult" nillable="true" type="q13:ArrayOfEmprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaEmprestimoPorNumeroConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroConta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaEmprestimoPorNumeroContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="PesquisaEmprestimoPorNumeroContaResult" nillable="true" type="q14:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarEmprestimo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="emprestimo" nillable="true" type="q15:Emprestimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarEmprestimoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMovimentacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="movimentacao" nillable="true" type="q16:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMovimentacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.basica" minOccurs="0" name="ListarMovimentacaoResult" nillable="true" type="q17:Movimentacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>