clientes/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61577/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.basica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_retornaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:retornaCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:retornaClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_retornaClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:retornaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_salvaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:salvaCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_salvaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:salvaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_salvaConta_InputMessage">
    <wsdl:part name="parameters" element="tns:salvaConta" />
  </wsdl:message>
  <wsdl:message name="IService1_salvaConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:salvaContaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RetornaConta_InputMessage">
    <wsdl:part name="parameters" element="tns:RetornaConta" />
  </wsdl:message>
  <wsdl:message name="IService1_RetornaConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetornaContaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="retornaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornaCliente" message="tns:IService1_retornaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornaClienteResponse" message="tns:IService1_retornaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="retornaClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/retornaClientes" message="tns:IService1_retornaClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/retornaClientesResponse" message="tns:IService1_retornaClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salvaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/salvaCliente" message="tns:IService1_salvaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/salvaClienteResponse" message="tns:IService1_salvaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="salvaConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/salvaConta" message="tns:IService1_salvaConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/salvaContaResponse" message="tns:IService1_salvaConta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetornaConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RetornaConta" message="tns:IService1_RetornaConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RetornaContaResponse" message="tns:IService1_RetornaConta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="retornaCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/retornaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/retornaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvaCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/salvaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="salvaConta">
      <soap:operation soapAction="http://tempuri.org/IService1/salvaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaConta">
      <soap:operation soapAction="http://tempuri.org/IService1/RetornaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61577/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>